@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
  font-family: 'Ubuntu';
}
ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

/* Nav Bar CSS */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.nav-item a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 400px); 
  gap: 10px; 
}

.grid-item {
  background-color: lightblue;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Containers*/

.main-con {
  border: solid red;
}